<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnrollmentList</title>

    <!-- style -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- icons links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <style>
        h1 {
            margin: 50px auto;
            text-align: center;
            color: #000000;
        }
        
        td {
            /* background: transparent; */
            background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
        }
        
        table {
            border-collapse: separate;
            width: 80%;
            margin: 50px auto;
            font-size: larger;
            font-weight: bolder;
            background-color: #f2f4f4;
        }
        
        th {
            background-color: #003f9c;
            color: #f4f4f2;
        }
        
        td,
        th {
            border: 2px solid #bbbfca;
            text-align: center;
            padding: 24px;
        }
        
        td:hover {
            cursor: pointer;
            background-color: #0055d4;
            color: #f4f4f2;
        }
        
        .enroll-home {
            color: #000000;
        }
        
        .enroll-home:hover {
            color: #003f9c;
        }
        
        .removetd:hover {
            background-color: #ffffff;
        }
    </style>
</head>

<body class="wholeBody">
    <h1 class=" AllHeading text-center" style="margin-top: 2%;"><b><%=eventName%></b> Enrollment List
        <a href="/adminEvent">
            <div class="EventRegsButton">
                <button type="button" class="btn btn-outline-primary">View Events</button>
            </div>
        </a>

    </h1>

    <hr>

    <%if(message == "User Deleted Successfully!"){%>
        <div class="alert alert-success text-center alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong class="text-danger"><%=message%></strong>
        </div>
        <% } %>
            <h2 class="welcomeDiv">Paper Presentation</h2>
            <div class="table-responsive">
                <table>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Roll No</th>
                        <th>Mail ID</th>
                        <th>College Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th><u>Remove User</u></th>
                    </tr>

                    <% pptvar.forEach((e)=>{ %>
                        <tr>
                            <td>
                                <%= ++c%>
                            </td>
                            <td>
                                <%=e.name%>
                            </td>
                            <td>
                                <%=e.rollno%>
                            </td>
                            <td>
                                <%=e.mailid%>
                            </td>
                            <td>
                                <%=clgName%>
                            </td>
                            <td>
                                <%=startDate%>
                            </td>
                            <td>
                                <%=endDate%>
                            </td>
                            <td class="removetd">
                                <form action="/removeUser" method="post">
                                    <input type="hidden" name="id" value="<%=e._id%>">
                                    <input type="hidden" name="eventName" value="<%=eventName%>">
                                    <input type="hidden" name="event" value="ppt">
                                    <button type="submit" class="btn btn-outline-danger">Remove</button>
                                </form>
                            </td>
                            <% }) %>
                        </tr>
                </table>
            </div>
            <%c=0%>
                <h2 class="welcomeDiv">Project Presentation</h2>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Mail ID</th>
                            <th>College Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th><u>Remove User</u></th>
                        </tr>

                        <% projectvar.forEach((e)=>{ %>
                            <tr>
                                <td>
                                    <%= ++c%>
                                </td>
                                <td>
                                    <%=e.name%>
                                </td>
                                <td>
                                    <%=e.rollno%>
                                </td>
                                <td>
                                    <%=e.mailid%>
                                </td>
                                <td>
                                    <%=clgName%>
                                </td>
                                <td>
                                    <%=startDate%>
                                </td>
                                <td>
                                    <%=endDate%>
                                </td>
                                <td class="removetd">
                                    <form action="/removeUser" method="post">
                                        <input type="hidden" name="id" value="<%=e._id%>">
                                        <input type="hidden" name="eventName" value="<%=eventName%>">
                                        <input type="hidden" name="event" value="project">
                                        <button type="submit" class="btn btn-outline-danger">Remove</button>
                                    </form>
                                </td>

                                <% }) %>
                            </tr>
                    </table>
                </div>

                <%c=0%>
                    <h2 class="welcomeDiv">Ideathon</h2>
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Roll No</th>
                                <th>Mail ID</th>
                                <th>College Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th><u>Remove User</u></th>
                            </tr>

                            <% ideathonvar.forEach((e)=>{ %>
                                <tr>
                                    <td>
                                        <%= ++c%>
                                    </td>
                                    <td>
                                        <%=e.name%>
                                    </td>
                                    <td>
                                        <%=e.rollno%>
                                    </td>
                                    <td>
                                        <%=e.mailid%>
                                    </td>
                                    <td>
                                        <%=clgName%>
                                    </td>
                                    <td>
                                        <%=startDate%>
                                    </td>
                                    <td>
                                        <%=endDate%>
                                    </td>
                                    <td class="removetd">
                                        <form action="/removeUser" method="post">
                                            <input type="hidden" name="id" value="<%=e._id%>">
                                            <input type="hidden" name="eventName" value="<%=eventName%>">
                                            <input type="hidden" name="event" value="ideathon">
                                            <button type="submit" class="btn btn-outline-danger">Remove</button>
                                        </form>
                                    </td>
                                    <% }) %>
                                </tr>
                        </table>
                    </div>

</body>
</body>

</html>